@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.maateen.me/kalpurush/font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
}
.wrapper li{
  padding: 10px 15px;
}
body{
  font-family: 'Kalpurush', sans-serif;
  font-weight: 400;
}
.heading{
  text-shadow: -1px -1px 10px #333, 1px -1px 10px #333, -1px 1px 10px #333, 1px 1px 10px #333;
}
.submenu{
  position: absolute;
  left: -800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background: #fff;
  box-shadow: 5px 5px 5px 5px #999;
  border-radius: 5px;
  padding: 0 10px;
  
}
.about:hover .submenu{
  position: absolute;
  top: 50px;
  left: 120px; 
  z-index: 30;  
}
.officesubmenu{
  position: absolute;
  left: -800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background: #fff;
  box-shadow: 5px 5px 5px 5px #999;
  border-radius: 5px;
  padding: 0 10px;
  
}
.offices:hover .officesubmenu{
  position: absolute;
  top: 50px;
  left: 400px; 
  z-index: 30; 
}
@media only screen and (min-width: 960px){
  body{
    background: url("../src/assets/bg_main.gif");
    margin: 0 auto;
    background-size: cover;
  }
  .wrapper{
    width: 67%;
    margin: 0 auto;
  }
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
